<ion-view class="background" title="Nous contactez">
        <ion-nav-bar class="bar-positive headertop">
            <ion-nav-buttons side="right">
                <h6 style="color: white">Envoyer</h6>
            </ion-nav-buttons>
            <ion-nav-buttons side="left">
                <button  class="button button-icon icon ion-person" ui-sref="menu.modifProfile" title="modif profile" style="color:red"></button>
            </ion-nav-buttons>
         </ion-nav-bar>
    <ion-content padding="true">
        <form name="connectionForm">
            <div class="connexion">
                <div class="list list-inset">
                	
                    <label class="item item-input">
                        <i class="icon ion-ios-locked placeholder-icon" style="font-size: 20px;color:#4BCCB8"></i>

                        <input type="text" placeholder="Votre Nom">
                    </label>
                    
                    <label class="item item-input">
                        <i class="icon ion-ios-locked placeholder-icon" style="font-size: 20px;color:#4BCCB8"></i>

                        <input type="password" placeholder="Votre Email">
                    </label>
                    
                    <label class="item item-input">
					    <textarea placeholder="Message" rows="8"></textarea>
					  </label>
                </div>
            </div>
        </form>

    </ion-content>
    
</ion-view>