<ion-side-menus>
  <!-- Left menu -->
  
    
  <ion-side-menu-content >
        <ion-nav-bar class="bar-positive headertop">
            <ion-nav-buttons side="right">
                <button  class="button button-icon icon ion-ios-gear-outline" ui-sref="menu.config" title="config" ></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="left">
                <button  class="button button-icon icon ion-person" ui-sref="menu.modifProfile" title="modif profile" ></button>
            </ion-nav-buttons>
         </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
        
      <ion-footer-bar class="bar bar-footer footer">
      <div class="tabs tabs-positive tabs-icon-top footertop" style="">
          <a menu-close class="tab-item" ui-sref="menu.home" title="home">
              <img src="img/Home-menu.png" style="margin-top: 10px;"><br>
              <b style="color:#2B7D6F">Home</b>
          </a>
          <a menu-close class="tab-item" ui-sref="menu.profile" title="profile">
            <img src="img/profile-menu.png" style="margin-top: 8px;"><br>
            <b style="color:#2B7D6F">Profile</b>
              
          </a>
          <img src="img/localisation-btn.png" class="imgLocation">
          
          <a menu-close class="tab-item" ui-sref="menu.filtre" title="filtre">
              <img src="img/filters-menu.png" style="margin-top: 11px;"><br>
              <b style="color:#2B7D6F">Filtres</b>
          </a>
          <a menu-close class="tab-item" ui-sref="menu.bookmark" title="bookmark">
            <img src="img/bookmarks-menu.png" style="margin-top: 8px;width: 10px;"><br>
              <b style="color:#2B7D6F">Bookmarks</b>
          </a>
          <!--
          <a menu-close class="tab-item" ui-sref="register" title="inscription">
            <i class="icon ion-person" style="color:black"></i>
              
          </a>
          <a menu-close class="tab-item" ui-sref="login" title="login">
            <i class="icon ion-person" style="color:black"></i>
              
          </a>
          <a menu-close class="tab-item" ui-sref="menu.coordonne" title="Modif coordonne">
            <i class="icon ion-planet" style="color:black"></i>
              
          </a>
          <a menu-close class="tab-item" ui-sref="menu.modifPassword" title="modifPassword">
            <i class="icon ion-ios-locked" style="color:black"></i>
              
          </a>
          <a menu-close class="tab-item" ui-sref="menu.contact" title="contact">
            <i class="icon ion-paper-airplane" style="color:black"></i>
              
          </a>
          <a menu-close class="tab-item" ui-sref="menu.partage" title="partage">
            <i class="icon ion-share" style="color:black"></i>
              
          </a>

          <a menu-close class="tab-item" ui-sref="menu.restaurant" title="resto">
            <i class="icon ion-ios-home" style="color:black"></i>
              
          </a>
          <a menu-close class="tab-item" ui-sref="menu.restaurantMap" title="restaurantMap">
            <i class="icon ion-ios-home-outline" style="color:black"></i>
              
          </a>
          <a menu-close class="tab-item" ui-sref="menu.etablissement" title="etablissement">
            <i class="icon ion-ios-home-outline" style="color:black"></i>
              
          </a>
          -->
      </div>
      </ion-footer-bar>
  </ion-side-menu-content>
    
    
</ion-side-menus>
