<ion-modal-view>
    <!--<ion-header-bar>
      <h1 class="title">My Modal title</h1>
        <button class="button" >
            <i class="icon ion-android-exit" ></i>
        </button>
    </ion-header-bar>-->
    <ion-content padding="true">
        <div class="card">
          <div class="item item-divider item-icon-right">
           Activiti Today
              <i class="icon ion-ios-close-empty" ng-click="closeactivity()"></i>
          </div>
          <div class="item item-text-wrap">
                <div class="list">
                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-wineglass"></i>
                    Call Ma
                      <h5>( 12:12 - 12:12 )</h5>
                    <i class="icon ion-ios-circle-filled" style="color:green;"></i>
                  </a>
                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-wineglass"></i>
                    Call Ma
                      <h5>( 12:12 - 12:12 )</h5>
                    <i class="icon ion-ios-circle-filled" style="color:green;"></i>
                  </a>
                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-wineglass"></i>
                    Call Ma
                      <h5>( 12:12 - 12:12 )</h5>
                    <i class="icon ion-ios-circle-filled" style="color:green;"></i>
                  </a>
                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-wineglass"></i>
                    Call Ma
                      <h5>( 12:12 - 12:12 )</h5>
                    <i class="icon ion-ios-circle-filled" style="color:green;"></i>
                  </a>
                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-wineglass"></i>
                    Call Ma
                      <h5>( 12:12 - 12:12 )</h5>
                    <i class="icon ion-ios-circle-filled" style="color:green;"></i>
                  </a>
                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-wineglass"></i>
                    Call Ma
                      <h5>( 12:12 - 12:12 )</h5>
                    <i class="icon ion-ios-circle-filled" style="color:green;"></i>
                  </a>
                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-wineglass"></i>
                    Call Ma
                      <h5>( 12:12 - 12:12 )</h5>
                    <i class="icon ion-ios-circle-filled" style="color:green;"></i>
                  </a>
                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-wineglass"></i>
                    Call Ma
                      <h5>( 12:12 - 12:12 )</h5>
                    <i class="icon ion-ios-circle-filled" style="color:green;"></i>
                  </a>
                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-wineglass"></i>
                    Call Ma
                      <h5>( 12:12 - 12:12 )</h5>
                    <i class="icon ion-ios-circle-filled" style="color:green;"></i>
                  </a>
                </div>
          </div>
        </div>
    </ion-content>
  </ion-modal-view>


